/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
  width: 90vw;
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.regContainer {
  width: 90vw;
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

/*  --------------- Global Styles -----------------  */

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: #0e1111;
  color: #fff;
}

h1 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  margin: 0;
  font-weight: 400;
  border-bottom: 10px solid;
  padding-bottom: 1rem;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 3rem;
  margin-top: 1rem;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  transition: 0.6s;
}

nav a:hover {
  color: #0e1111;
  box-shadow: inset 0em 2em 0em 0em #fff;
}

.main-nav a:last-child {
  border-bottom: 10px solid;
  border-left: 10px solid;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.secondary-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.secondary-nav a {
  margin-bottom: 1rem;
}

.secondary-nav a:last-child {
  border-bottom: 10px solid;
  border-right: 10px solid;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

p {
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
}

.mainDes {
  margin: 0;
  margin-top: 2.2rem;
  padding-bottom: 2rem;
  border-bottom: 10px solid;
}

#particles-js {
  width: 100%;
  height: 45vh;
  z-index: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: end;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 2rem;
}

.projectImg {
  width: 100%;
  height: auto;
  align-self: center;
  margin-top: 1.6rem;
  grid-area: img;
}

.linkButton {
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  background-color: #fff;
  color: #0e1111;
  width: 15vw;
  align-self: center;
  font-size: 1.6rem;
  grid-area: button;
  justify-self: center;
  width: 80%;
  transition: 0.4s;
}

.linkButton:hover {
  background-color: #0e1111;
  color: #fff;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.projectCard {
  display: grid;
  flex-direction: column;
  margin-bottom: 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title title"
    "img img"
    "descrip button";
}

.projectDes {
  margin: 2rem 0 2rem 0;
  grid-area: descrip;
}

.projectDes p {
  font-size: 1.6rem;
}

.projectTitle {
  font-size: 3.4rem;
  grid-area: title;
}
